.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;

    .focus {
        float: left;
        height: 455px;
        width: 721px;
        position: relative;

        .footList {
            position: absolute;
            height: 20px;
            z-index: 2;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, 0.883);
            border-radius: 10px;
            margin-bottom: 10px;
            padding-top: 3px;
            >li {
                width: 14px;
                height: 14px;
                margin: 0 5px;
                float: left;
                background-color: rgba(121, 116, 116, 0.876);
                border-radius: 7px;
            }
        }

        .lists {
            a {
                display: block;
                height: 35px;
                width: 25px;
                background-color: rgba(0, 0, 0, 0.4);
                color: rgb(255, 255, 255);
                text-align: center;
                line-height: 35px;
                transition: all 0.1s ease;
            }

            a:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

            #lists1 {
                position: absolute;
                z-index: 2;
                left: 0;

                >a {
                    border-radius: 0 10px 10px 0;
                }

                a::before {
                    font-size: 10px;
                    content: '\e903';
                    font-family: 'icomoon';
                }
            }

            #lists2 {
                position: absolute;
                z-index: 2;
                right: 0;

                >a {
                    border-radius: 10px 0 0 10px;
                }

                a::before {
                    font-size: 10px;
                    content: '\e904';
                    font-family: 'icomoon';
                }
            }

            #lists1,
            #lists2 {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.newsFlash {
    height: 455px;
    width: 250px;
    float: right;
    background-color: violet;
}