* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
    font-size: 12px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    ;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

.search {
    // 固定定位的盒子一定要给宽度 特殊！
    // 固定定位以屏幕为主
    display: flex;
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    position: fixed;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    top: 0;
    //固定定位的盒子就不要加 margin:0 auto;来中间对齐了
    // 用CSS3的转变位移
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    .search-box {
        margin: 9px 5px;
        border: 1px solid #ccc;
        height: 26px;
        flex: 1;
        border-radius: 13px;
        position: relative;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

        &::before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            background: url(../img/sprite.png) no-repeat;
            background-position: -59px -279px;
            background-size: 104px auto;
            margin: 5px 8px;
        }

        span {
            font-size: 12px;
            position: absolute;
            top: 3px;
            left: 28px;
            color: #666;
        }
    }

    .search-me {
        width: 44px;
        height: 44px;
        text-align: center;
        font-size: 12px;
        color: #2eaae0;
        letter-spacing: 2px;

        &::before {
            display: block;
            height: 24px;
            width: 24px;
            content: '';
            background: url(../img/sprite.png) no-repeat;
            background-position: -59px -194px;
            // 原图（精灵图）是 208 X 655
            background-size: 104px auto;
            margin: 4px auto;
            margin-bottom: -2px;
        }
    }
}


// focus模块
.focus {
    width: 100%;
    margin-top: 44px;

    img {
        width: 100%;
    }
}

// local-nav模块
.local-nav {
    height: 64px;
    background-color: #fff;
    margin: 2px 4px;
    border-radius: 8px;

    ul {
        display: flex;
        height: inherit;

        li {
            flex: 1;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin: 8px 0;

                span[class] {
                    width: 32px;
                    height: 32px;
                    background-size: 32px auto;
                }

                .local-nav-icon1 {
                    // background-color: red;
                    background: url(../img/localnav_bg.png) no-repeat 0 0;
                    // 原图是宽64的图，二倍图就缩放原来的一半
                }

                .local-nav-icon2 {

                    background: url(../img/localnav_bg.png) no-repeat 0 -32px;
                }

                .local-nav-icon3 {

                    background: url(../img/localnav_bg.png) no-repeat 0 -64px;
                }

                .local-nav-icon4 {

                    background: url(../img/localnav_bg.png) no-repeat 0 -96px;
                }

                .local-nav-icon5 {

                    background: url(../img/localnav_bg.png) no-repeat 0 -128px;
                }
            }
        }
    }
}

// nav模块
.nav {
    margin: 2px 4px;
    border-radius: 8px;
    overflow: hidden;
    background-color: pink;


    .nav-common {
        display: flex;
        height: 88px;
    }

    .nav-items {
        flex: 1;
    }


    // div[class*="1"] {
    //     background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
    // }

    // div[class*="2"] {
    //     background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
    // }

    // div[class*="3"] {
    //     background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
    // }


}