body {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  background-color: #b0e498;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #666;
  line-height: 1.5;
}
img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.app {
  height: 45px;
}
.app ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.app ul li {
  height: 45px;
  background-color: #333;
  float: left;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
.app ul li:nth-child(1) {
  width: 8%;
}
.app ul li:nth-child(1) img {
  width: 10px;
  height: 10px;
}
.app ul li:nth-child(2) {
  width: 10%;
}
.app ul li:nth-child(2) img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.app ul li:nth-child(3) {
  width: 57%;
}
.app ul li:nth-child(4) {
  width: 25%;
  background-color: #f63515;
}
.search {
  height: 44px;
  position: relative;
  overflow: hidden;
}
.search .search-btn,
.search .search-login {
  width: 40px;
  height: 44px;
  position: absolute;
  top: 0;
}
.search .search-btn {
  left: 0;
}
.search .search-btn::before {
  content: '';
  display: block;
  width: 20px;
  height: 18px;
  background: url(/img/s-btn.png) no-repeat;
  background-size: 20px 18px;
  margin-top: 14px;
  margin-left: 15px;
}
.search .search-login {
  right: 0;
  line-height: 44px;
}
.search .search-box {
  height: 30px;
  margin: 0 50px;
  border-radius: 15px;
  margin-top: 7px;
  background-color: #fff;
}
.search .search-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search .search-box ul li {
  float: left;
  margin: 0 10px;
  margin-top: 7px;
}
.search .search-box ul li:nth-child(1) {
  width: 20px;
  height: 15px;
  background: url(/img/jd.png) no-repeat;
  background-size: 20px 15px;
}
.search .search-box ul li:nth-child(2) {
  width: 1px;
  background-color: #666;
  margin-left: -2px;
  height: 15px;
}
.search .search-box ul li:nth-child(3) {
  width: 18px;
  height: 15px;
  background: url(/img/jd-sprites.png) no-repeat -81px 0;
  background-size: 200px auto;
  margin-left: -2px;
  margin-top: 8px;
}
