body {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #666;
  line-height: 1.5;
}
body a,
body img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  vertical-align: middle;
}
body ul {
  margin: 0;
  padding: 0;
}
body .app {
  height: 45px;
}
body .app ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body .app ul li {
  height: 45px;
  background-color: #333;
  float: left;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
body .app ul li:nth-child(1) {
  width: 8%;
}
body .app ul li:nth-child(1) img {
  width: 10px;
  height: 10px;
}
body .app ul li:nth-child(2) {
  width: 10%;
}
body .app ul li:nth-child(2) img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
body .app ul li:nth-child(3) {
  width: 57%;
}
body .app ul li:nth-child(4) {
  width: 25%;
  background-color: #f63515;
}
body .search {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 44px;
  position: fixed;
  overflow: hidden;
}
body .search .search-btn,
body .search .search-login {
  width: 40px;
  height: 44px;
  position: absolute;
  top: 0;
}
body .search .search-btn {
  left: 0;
}
body .search .search-btn::before {
  content: '';
  display: block;
  width: 20px;
  height: 18px;
  background: url(/img/s-btn.png) no-repeat;
  background-size: 20px 18px;
  margin-top: 14px;
  margin-left: 15px;
}
body .search .search-login {
  right: 0;
  line-height: 44px;
  color: white;
}
body .search .search-box {
  height: 30px;
  margin: 0 50px;
  border-radius: 15px;
  margin-top: 7px;
  background-color: #fff;
}
body .search .search-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body .search .search-box ul li {
  float: left;
  margin: 0 10px;
  margin-top: 7px;
}
body .search .search-box ul li:nth-child(1) {
  width: 20px;
  height: 15px;
  background: url(/img/jd.png) no-repeat;
  background-size: 20px 15px;
}
body .search .search-box ul li:nth-child(2) {
  width: 1px;
  background-color: #666;
  margin-left: -2px;
  height: 15px;
}
body .search .search-box ul li:nth-child(3) {
  width: 18px;
  height: 15px;
  background: url(/img/jd-sprites.png) no-repeat;
  background-position: -81px 0;
  background-size: 200px auto;
  margin-left: -5px;
}
body .search .search-box input[type="search"] {
  outline: none;
}
.main-content .slider img {
  width: 100%;
}
.main-content .brand {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.main-content .brand div {
  float: left;
  width: 33.3%;
}
.main-content .brand div img {
  width: 100%;
}
.nav {
  margin-top: 5px;
}
.nav ul {
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  color: #666;
  width: 20%;
  float: left;
  text-align: center;
}
.nav ul li a img {
  width: 2.5rem;
  margin: 10px 0;
}
.nav ul li a span {
  display: block;
}
