    * {
        padding   : 0;
        margin    : 0;
        box-sizing: border-box;
    }

    @media (max-width: 768px) {
        .btn1 {
            float     : right;
            margin-top: 10px;
        }
    }


    .badge-blue {
        background-color: #5bc0de;
    }

    .badge-yellow {
        background-color: #f0ad4e;
    }